<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
        <h2>Edit list detials</h2>
        <form action="/listings/<%= listDetails._id %>?_method=PUT" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">
                    Title
                </label>
                <input type="text" name="title" placeholder="Enter title.." value="<%= listDetails.title %>" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="Description" class="form-label">
                    Description
                </label>
                <textarea name="description" placeholder="Enter description.." class="form-control" required><%=listDetails.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                Original image <br>
                <img src="<%=originalImageUrl %>" alt=""  style="height: 200px; border-radius: 1rem;">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">
                    Upload new image
                </label>
                <input type="file" name="image" class="form-control">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">
                        Price
                    </label>
                    <input name="price" placeholder="Enter price.." value="<%= listDetails.price %>" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide a valid price.
                    </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="location" class="form-label">
                        Location
                    </label>
                    <input type="text" name="location" placeholder="Enter location.." value="<%= listDetails.location %>" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide a valid location.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">
                    Category
                </label>
                <select name="category" class="form-control" required>
                    <option value="">Select a category</option>
                    <option value="forest">Forest</option>
                    <option value="desert">Desert</option>
                    <option value="mountain">Mountain</option>
                    <option value="cultural">Cultural</option>
                    <option value="beach">Beach</option>
                    <option value="city">City</option>
                </select>
                <div class="invalid-feedback">
                    Please select a category.
                </div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">
                    Country
                </label>
                <input type="text" name="country" placeholder="Enter country name.." value="<%= listDetails.country %>" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a valid country.
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success mb-3 mx-auto">Done</button>
            <br> <br>
        </form>
    </div>
</div>